

.card-text.text-span {
  font-weight: 400;
  font-size: 1rem;
}

.loading {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 120px;
  height: 120px;
}